Decomposing wide table into BCNF.

In [5]:
import pandas as pd
import os
os.getcwd()

'/Users/ellawileman/Documents/fall2025/db_management/final_project_database'

In [6]:

from pathlib import Path
import os
import subprocess

# Set any folder you know is in the repo
start = Path("/Users/ellawileman/Documents/fall2025/db_management/final_project_database/final_project_database")

# Walk upward until .git is found
current = start
while True:
    if ".git" in os.listdir(current):
        repo_root = current
        break
    parent = current.parent
    if parent == current:
        raise RuntimeError("Not inside a Git repo")
    current = parent

os.chdir(repo_root)
print("Repo root:", repo_root)

subprocess.run(["git", "status"])

Repo root: /Users/ellawileman/Documents/fall2025/db_management/final_project_database
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   final_project_database/datasource_csvs/books.csv
	modified:   final_project_database/datasource_csvs/ratings.csv
	modified:   final_project_database/datasource_csvs/to_read.csv
	modified:   final_project_database/datasource_csvs/users.csv

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	final_project_database/.DS_Store
	final_project_database/datasource_csvs/.DS_Store
	final_project_database/p2_starter_code/.DS_Store
	final_project_database/p2_starter_code/src/.DS_Store
	final_project_database/p2_starter_code/src/main/.DS_Store
	final_project_database/p2_starter_code/src/main/resources/.DS_Store

no changes added to commit (use "git add" and/or "git commit -a")

CompletedProcess(args=['git', 'status'], returncode=0)

In [7]:

import subprocess

# Status
subprocess.run(["git", "status"])

# Example: list branches
subprocess.run(["git", "branch"])

# Pull latest changes
subprocess.run(["git", "pull"])

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   final_project_database/datasource_csvs/books.csv
	modified:   final_project_database/datasource_csvs/ratings.csv
	modified:   final_project_database/datasource_csvs/to_read.csv
	modified:   final_project_database/datasource_csvs/users.csv

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	final_project_database/.DS_Store
	final_project_database/datasource_csvs/.DS_Store
	final_project_database/p2_starter_code/.DS_Store
	final_project_database/p2_starter_code/src/.DS_Store
	final_project_database/p2_starter_code/src/main/.DS_Store
	final_project_database/p2_starter_code/src/main/resources/.DS_Store

no changes added to commit (use "git add" and/or "git commit -a")
* main
Already up to date.

CompletedProcess(args=['git', 'pull'], returncode=0)

In [3]:
"""
import os

# List all files/folders in current directory
print(os.listdir())

# Or list them nicely, one per line
for f in os.listdir():
    print(f)
    

# Path to a file inside the repo
file_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")

"""

'\nimport os\n\n# List all files/folders in current directory\nprint(os.listdir())\n\n# Or list them nicely, one per line\nfor f in os.listdir():\n    print(f)\n    \n\n# Path to a file inside the repo\nfile_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")\n\n'

In [8]:
wide_dat = pd.read_csv("final_project_database/datasource_csvs/test_wide_with_pages.csv")
wide_dat["isbn13"] = wide_dat["isbn13"].astype("int64")

# Standardize column names with schema
wide_dat = wide_dat.rename(columns={"book_id": "bookId", "user_id": "userId", "FirstName": "firstName", "LastName": "lastName", "Username": "username"})

In [9]:
wide_dat = wide_dat.drop(['_merge', 'on_user_list'], axis=1) 
wide_dat.head()

,isbn13,description,genres,bookId,title,authors,average_rating,original_publication_year,ratings_count,image_url,userId,rating,firstName,lastName,username,total_copies,page_count
0,9781416914280,When fifteen-year-old Clary Fray heads out to ...,"['Fantasy', 'Young Adult', 'Paranormal', 'Roma...",256683,"City of Bones (The Mortal Instruments, #1)",Cassandra Clare,4.12,2007,1154031,https://images.gr-assets.com/books/1432730315m...,NaN,NaN,NaN,NaN,NaN,3,485
1,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1136.0,4.0,George,Roberts,traceybaker,4,103
2,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1350.0,4.0,Mario,Hardin,wrightashley,4,103
3,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2276.0,4.0,Michael,Maldonado,johncurtis,4,103
4,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2552.0,4.0,Corey,Johnson,ymiller,4,103

In [10]:
wide_dat.dtypes

isbn13                         int64
description                   object
genres                        object
bookId                         int64
title                         object
authors                       object
average_rating               float64
original_publication_year      int64
ratings_count                  int64
image_url                     object
userId                       float64
rating                       float64
firstName                     object
lastName                      object
username                      object
total_copies                   int64
page_count                     int64
dtype: object

R(isbn13, description, genres, book_id, title, authors, average_rating, original_publication_year, ratings_count, image_url, user_id, rating, FirstName, LastName, username, page_count, total_copies)

In [11]:
R = wide_dat

Minimal superkey (candidate key) = (book_id, user_id)

Decompose on FD #1: user_id -> FirstName, LastName, Username

In [12]:
R1 = R[["userId", "firstName", "lastName", "username"]].drop_duplicates().reset_index(drop=True)
R1 = R1.dropna(subset=['userId'])

In [13]:
R1.head()

   userId firstName   lastName      username
1  1136.0    George    Roberts   traceybaker
2  1350.0     Mario     Hardin  wrightashley
3  2276.0   Michael  Maldonado    johncurtis
4  2552.0     Corey    Johnson       ymiller
5  2996.0    Samuel     Dalton   smithrobert

In [14]:
R2 = R[["userId", "isbn13", "description", "genres", "bookId", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "rating", "total_copies", "page_count"]].drop_duplicates().reset_index(drop=True)
R2 = R2.dropna(subset=['userId'])
R2 = R2.dropna(subset=["bookId"])

In [15]:
R2.head()

,userId,isbn13,description,genres,bookId,title,authors,average_rating,original_publication_year,ratings_count,image_url,rating,total_copies,page_count
1,1136.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
2,1350.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
3,2276.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
4,2552.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
5,2996.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,3.0,4,103

Does FD #2 satisfy BCNF? 
No because book_id is not superkey. Decompose.

In [16]:
R3 = R2[["bookId", "isbn13", "description", "genres", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "total_copies", "page_count"]].drop_duplicates().reset_index(drop=True)
R3 = R3.dropna(subset=["bookId"])
R3.head()

,bookId,isbn13,description,genres,title,authors,average_rating,original_publication_year,ratings_count,image_url,total_copies,page_count
0,890,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4,103
1,1953,9780141439600,After eighteen years as a political prisoner i...,"['Classics', 'Fiction', 'Historical Fiction', ...",A Tale of Two Cities,"Charles Dickens, Richard Maxwell, Hablot Knigh...",3.81,1859,637412,https://images.gr-assets.com/books/1344922523m...,3,489
2,3636,9780385732550,Twelve-year-old Jonas lives in a seemingly ide...,"['Young Adult', 'Fiction', 'Classics', 'Dystop...","The Giver (The Giver, #1)",Lois Lowry,4.12,1993,1296825,https://images.gr-assets.com/books/1342493368m...,3,208
3,3836,9780142437230,Don Quixote has become so entranced by reading...,"['Classics', 'Fiction', 'Literature', 'Spanish...",Don Quixote,"Miguel de Cervantes Saavedra, Roberto González...",3.85,1605,134931,https://images.gr-assets.com/books/1364958765m...,1,1023
4,2165,9780684830490,Librarian's note: An alternate cover edition c...,"['Classics', 'Fiction', 'Literature', 'Novels'...",The Old Man and the Sea,Ernest Hemingway,3.73,1952,520630,https://images.gr-assets.com/books/1329189714m...,3,96

In [17]:
R4 = R2[["userId", "bookId", "rating"]].drop_duplicates(subset=["userId", "bookId"], keep="first").reset_index(drop=True)
R4 = R4.dropna(subset=['userId'])
R4 = R4.dropna(subset=["bookId"])
R4.head()

   userId  bookId  rating
0  1136.0     890     4.0
1  1350.0     890     4.0
2  2276.0     890     4.0
3  2552.0     890     4.0
4  2996.0     890     3.0

FD #3 satisfies BCNF so all decomposed relations are now in BCNF.

In [ ]:
# Adding a password column with randomly generated passwords 
import string
import random

# Function to generate a random password
def generate_password(length=10):
    chars = string.ascii_letters + string.digits + string.punctuation
    return ''.join(random.choice(chars) for _ in range(length))

# Add a password column
R1['password'] = [generate_password() for _ in range(len(R1))]
R1.head()

   userId firstName   lastName      username    password
1  1136.0    George    Roberts   traceybaker  .1FjnutoIW
2  1350.0     Mario     Hardin  wrightashley  X;f|AOcg):
3  2276.0   Michael  Maldonado    johncurtis  jFw_}`Krb7
4  2552.0     Corey    Johnson       ymiller  xQ}H2mRDN.
5  2996.0    Samuel     Dalton   smithrobert  L%3HHQDh4'

In [ ]:
# Looking for duplicate usernames 
R1["username"].value_counts().head()
duplicate_usernames = R1[R1.duplicated(subset="username", keep=False)]

print(duplicate_usernames)
print("Number of duplicate usernames:", duplicate_usernames["username"].nunique())

       userId firstName    lastName    username    password
6      3420.0     Derek    Gonzalez      fbrown  &2RIe]}u\<
53    23202.0    Daniel       Burns  jrodriguez  }W7$[Q!iDT
60    27997.0      Jodi        Ruiz    joseph54  >Z4T]P)PEK
71    35329.0      Ryan       Kelly    thomas07  2PLp;[|1yW
76    37363.0     Ricky      Harris   owilliams  .39$(P)mY(
...       ...       ...         ...         ...         ...
7057  23798.0     Tammy  Mccullough  hallrobert  s<,ILV8Or^
7061  26499.0  Jennifer      Atkins  khernandez  >Vo9iPTRM|
7081  42645.0     Tonya       Smith       khall  0hS!$}h~~r
7082  46886.0    Robert      Adkins      xbrown  05LN/tEJ/@
7088  51800.0     Harry    Griffith    fjohnson  jsoO[qpgw0

[529 rows x 5 columns]
Number of duplicate usernames: 248

In [ ]:
# Make usernames unique to uphold schema constraint
counts = {}
new_usernames = []

for u in R1["username"]:
    if u not in counts:
        counts[u] = 0
        new_usernames.append(u)
    else:
        counts[u] += 1
        new_usernames.append(f"{u}_{counts[u]}")

R1["username"] = new_usernames

In [ ]:
# saving the csvs

# Users Table
R1.to_csv("final_project_database/datasource_csvs/users.csv", index = False)

# Books Table
R3.to_csv("final_project_database/datasource_csvs/books.csv", index = False)

# Ratings Table 
R4.to_csv("final_project_database/datasource_csvs/ratings.csv", index = False)

In [20]:
# Books Table
R3.to_csv("final_project_database/datasource_csvs/books.csv", index = False)

In [19]:
# only keep the entries from to_read table that have valid userId and bookId in the users and books tables

to_read = pd.read_csv("final_project_database/datasource_csvs/to_read.csv")
to_read = to_read.merge(R1[["userId"]], on="userId", how="inner")
to_read = to_read.merge(R3[["bookId"]], on="bookId", how="inner")
to_read.shape

(735, 2)

In [ ]:
to_read.to_csv("final_project_database/datasource_csvs/to_read.csv", index = False)