Decomposing wide table into BCNF.

In [88]:
import pandas as pd
import os
os.getcwd()

'/Users/ellawileman/Documents/fall2025/db_management/final_project_database'

In [89]:
""""
from pathlib import Path
import os
import subprocess

# Set any folder you know is in the repo
start = Path("/Users/ellawileman/Documents/fall2025/db_management/final_project_database/final_project_database")

# Walk upward until .git is found
current = start
while True:
    if ".git" in os.listdir(current):
        repo_root = current
        break
    parent = current.parent
    if parent == current:
        raise RuntimeError("Not inside a Git repo")
    current = parent

os.chdir(repo_root)
print("Repo root:", repo_root)

subprocess.run(["git", "status"]) 
"""

'"\nfrom pathlib import Path\nimport os\nimport subprocess\n\n# Set any folder you know is in the repo\nstart = Path("/Users/ellawileman/Documents/fall2025/db_management/final_project_database/final_project_database")\n\n# Walk upward until .git is found\ncurrent = start\nwhile True:\n    if ".git" in os.listdir(current):\n        repo_root = current\n        break\n    parent = current.parent\n    if parent == current:\n        raise RuntimeError("Not inside a Git repo")\n    current = parent\n\nos.chdir(repo_root)\nprint("Repo root:", repo_root)\n\nsubprocess.run(["git", "status"]) \n'

In [90]:
""""
import subprocess

# Status
subprocess.run(["git", "status"])

# Example: list branches
subprocess.run(["git", "branch"])

# Pull latest changes
subprocess.run(["git", "pull"])
"""

'"\nimport subprocess\n\n# Status\nsubprocess.run(["git", "status"])\n\n# Example: list branches\nsubprocess.run(["git", "branch"])\n\n# Pull latest changes\nsubprocess.run(["git", "pull"])\n'

In [91]:
"""
import os

# List all files/folders in current directory
print(os.listdir())

# Or list them nicely, one per line
for f in os.listdir():
    print(f)
    

# Path to a file inside the repo
file_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")

"""

'\nimport os\n\n# List all files/folders in current directory\nprint(os.listdir())\n\n# Or list them nicely, one per line\nfor f in os.listdir():\n    print(f)\n    \n\n# Path to a file inside the repo\nfile_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")\n\n'

In [92]:
wide_dat = pd.read_csv("final_project_database/datasource_csvs/wide_book_data.csv")
wide_dat["isbn13"] = wide_dat["isbn13"].astype("int64")

In [93]:
wide_dat = wide_dat.drop(['_merge', 'on_user_list'], axis=1) 
wide_dat.head()

,isbn13,description,genres,book_id,title,authors,average_rating,original_publication_year,ratings_count,image_url,user_id,rating,FirstName,LastName,Username,total_copies
0,9781420000000,When fifteen-year-old Clary Fray heads out to ...,"['Fantasy', 'Young Adult', 'Paranormal', 'Roma...",256683,"City of Bones (The Mortal Instruments, #1)",Cassandra Clare,4.12,2007,1154031,https://images.gr-assets.com/books/1432730315m...,NaN,NaN,NaN,NaN,NaN,3
1,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1136.0,4.0,George,Roberts,traceybaker,4
2,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1350.0,4.0,Mario,Hardin,wrightashley,4
3,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2276.0,4.0,Michael,Maldonado,johncurtis,4
4,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2552.0,4.0,Corey,Johnson,ymiller,4

R(isbn13, description, genres, book_id, title, authors, average_rating, original_publication_year, ratings_count, image_url, user_id, rating, FirstName, LastName, username, total_copies)

In [94]:
R = wide_dat

Minimal superkey (candidate key) = (book_id, user_id)

Decompose on FD #1: user_id -> FirstName, LastName, Username

In [95]:
R1 = R[["user_id", "FirstName", "LastName", "Username"]].drop_duplicates().reset_index(drop=True)
R1 = R1.dropna(subset=['user_id'])

In [96]:
R1.head()

   user_id FirstName   LastName      Username
1   1136.0    George    Roberts   traceybaker
2   1350.0     Mario     Hardin  wrightashley
3   2276.0   Michael  Maldonado    johncurtis
4   2552.0     Corey    Johnson       ymiller
5   2996.0    Samuel     Dalton   smithrobert

In [97]:
R2 = R[["user_id", "isbn13", "description", "genres", "book_id", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "rating", "total_copies"]].drop_duplicates().reset_index(drop=True)
R2 = R2.dropna(subset=['user_id'])
R2 = R2.dropna(subset=["book_id"])

In [98]:
R2.head()

,user_id,isbn13,description,genres,book_id,title,authors,average_rating,original_publication_year,ratings_count,image_url,rating,total_copies
1,1136.0,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
2,1350.0,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
3,2276.0,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
4,2552.0,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
5,2996.0,9780140000000,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,3.0,4