Decomposing wide table into BCNF.

In [7]:
import pandas as pd
import os
os.getcwd()

'/Users/ellawileman/Documents/fall2025/db_management/final_project_database'

In [8]:

from pathlib import Path
import os
import subprocess

# Set any folder you know is in the repo
start = Path("/Users/ellawileman/Documents/fall2025/db_management/final_project_database/final_project_database")

# Walk upward until .git is found
current = start
while True:
    if ".git" in os.listdir(current):
        repo_root = current
        break
    parent = current.parent
    if parent == current:
        raise RuntimeError("Not inside a Git repo")
    current = parent

os.chdir(repo_root)
print("Repo root:", repo_root)

subprocess.run(["git", "status"])

Repo root: /Users/ellawileman/Documents/fall2025/db_management/final_project_database
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   final_project_database/p2_starter_code/src/main/resources/templates/fragments/top_bar.mustache
	modified:   final_project_database/p2_starter_code/target/classes/templates/fragments/top_bar.mustache
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/AccountController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/BookController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/CheckoutController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/ReturnController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/SearchController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/TrendingController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/BasicRating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Book.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Rating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/AccountService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/BookService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/CheckoutService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/GenreService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/TrendingService.class
	modified:   final_project_database/p2_starter_code/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

no changes added to commit (use "git add" and/or "git commit -a")

CompletedProcess(args=['git', 'status'], returncode=0)

In [9]:

import subprocess

# Status
subprocess.run(["git", "status"])

# Example: list branches
subprocess.run(["git", "branch"])

# Pull latest changes
subprocess.run(["git", "pull"])

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   final_project_database/p2_starter_code/src/main/resources/templates/fragments/top_bar.mustache
	modified:   final_project_database/p2_starter_code/target/classes/templates/fragments/top_bar.mustache
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/AccountController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/BookController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/CheckoutController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/ReturnController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/SearchController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/TrendingController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/BasicRating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Book.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Rating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/AccountService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/BookService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/CheckoutService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/GenreService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/TrendingService.class
	modified:   final_project_database/p2_starter_code/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

no changes added to commit (use "git add" and/or "git commit -a")
  checkout-feature
* main
Already up to date.

CompletedProcess(args=['git', 'pull'], returncode=0)

In [10]:
"""
import os

# List all files/folders in current directory
print(os.listdir())

# Or list them nicely, one per line
for f in os.listdir():
    print(f)
    

# Path to a file inside the repo
file_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")

"""

'\nimport os\n\n# List all files/folders in current directory\nprint(os.listdir())\n\n# Or list them nicely, one per line\nfor f in os.listdir():\n    print(f)\n    \n\n# Path to a file inside the repo\nfile_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")\n\n'

In [11]:
wide_dat = pd.read_csv("final_project_database/datasource_csvs/test_wide_with_pages.csv")
wide_dat["isbn13"] = wide_dat["isbn13"].astype("int64")

# Standardize column names with schema
wide_dat = wide_dat.rename(columns={"book_id": "bookId", "user_id": "userId", "FirstName": "firstName", "LastName": "lastName", "Username": "username"})

In [12]:
wide_dat = wide_dat.drop(['_merge', 'on_user_list'], axis=1) 
wide_dat.head()

,isbn13,description,genres,bookId,title,authors,average_rating,original_publication_year,ratings_count,image_url,userId,rating,firstName,lastName,total_copies,username,page_count
0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1136.0,4.0,George,Roberts,4,groberts,103
1,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1350.0,4.0,Mario,Hardin,4,mhardin,103
2,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2276.0,4.0,Michael,Maldonado,4,mmaldonado,103
3,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2552.0,4.0,Corey,Johnson,4,cjohnson,103
4,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2996.0,3.0,Samuel,Dalton,4,sdalton,103

In [13]:
wide_dat.dtypes

isbn13                         int64
description                   object
genres                        object
bookId                         int64
title                         object
authors                       object
average_rating               float64
original_publication_year      int64
ratings_count                  int64
image_url                     object
userId                       float64
rating                       float64
firstName                     object
lastName                      object
total_copies                   int64
username                      object
page_count                     int64
dtype: object

R(isbn13, description, genres, book_id, title, authors, average_rating, original_publication_year, ratings_count, image_url, user_id, rating, FirstName, LastName, username, page_count, total_copies)

In [14]:
R = wide_dat

Minimal superkey (candidate key) = (book_id, user_id)

Decompose on FD #1: user_id -> FirstName, LastName, Username

In [15]:
R1 = R[["userId", "firstName", "lastName", "username"]].drop_duplicates().reset_index(drop=True)
R1 = R1.dropna(subset=['userId'])

In [16]:
duplicate_user_ids = R1["userId"].duplicated().sum()
print("Duplicate user_ids:", duplicate_user_ids)

Duplicate user_ids: 0

In [17]:
R1.head()

   userId firstName   lastName    username
0  1136.0    George    Roberts    groberts
1  1350.0     Mario     Hardin     mhardin
2  2276.0   Michael  Maldonado  mmaldonado
3  2552.0     Corey    Johnson    cjohnson
4  2996.0    Samuel     Dalton     sdalton

In [18]:
R2 = R[["userId", "isbn13", "description", "genres", "bookId", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "rating", "total_copies", "page_count"]].drop_duplicates().reset_index(drop=True)
R2 = R2.dropna(subset=['userId'])
R2 = R2.dropna(subset=["bookId"])

In [19]:
R2.head()

,userId,isbn13,description,genres,bookId,title,authors,average_rating,original_publication_year,ratings_count,image_url,rating,total_copies,page_count
0,1136.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
1,1350.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
2,2276.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
3,2552.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
4,2996.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,3.0,4,103

Does FD #2 satisfy BCNF? 
No because book_id is not superkey. Decompose.

In [20]:
R3 = R2[["bookId", "isbn13", "description", "genres", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "total_copies", "page_count"]].drop_duplicates().reset_index(drop=True)
R3 = R3.dropna(subset=["bookId"])
R3.head()

,bookId,isbn13,description,genres,title,authors,average_rating,original_publication_year,ratings_count,image_url,total_copies,page_count
0,890,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4,103
1,1953,9780141439600,After eighteen years as a political prisoner i...,"['Classics', 'Fiction', 'Historical Fiction', ...",A Tale of Two Cities,"Charles Dickens, Richard Maxwell, Hablot Knigh...",3.81,1859,637412,https://images.gr-assets.com/books/1344922523m...,3,489
2,3636,9780385732550,Twelve-year-old Jonas lives in a seemingly ide...,"['Young Adult', 'Fiction', 'Classics', 'Dystop...","The Giver (The Giver, #1)",Lois Lowry,4.12,1993,1296825,https://images.gr-assets.com/books/1342493368m...,3,208
3,3836,9780142437230,Don Quixote has become so entranced by reading...,"['Classics', 'Fiction', 'Literature', 'Spanish...",Don Quixote,"Miguel de Cervantes Saavedra, Roberto González...",3.85,1605,134931,https://images.gr-assets.com/books/1364958765m...,1,1023
4,2165,9780684830490,Librarian's note: An alternate cover edition c...,"['Classics', 'Fiction', 'Literature', 'Novels'...",The Old Man and the Sea,Ernest Hemingway,3.73,1952,520630,https://images.gr-assets.com/books/1329189714m...,3,96

In [21]:
R4 = R2[["userId", "bookId", "rating"]].drop_duplicates(subset=["userId", "bookId"], keep="first").reset_index(drop=True)
R4 = R4.dropna(subset=['userId'])
R4 = R4.dropna(subset=["bookId"])
R4.head()

   userId  bookId  rating
0  1136.0     890     4.0
1  1350.0     890     4.0
2  2276.0     890     4.0
3  2552.0     890     4.0
4  2996.0     890     3.0

FD #3 satisfies BCNF so all decomposed relations are now in BCNF.

In [22]:
# Adding a password column with randomly generated passwords 
import string
import random

# Function to generate a random password
""""
def generate_password(length=10):
    chars = string.ascii_letters + string.digits + string.punctuation
    return ''.join(random.choice(chars) for _ in range(length))

# Add a password column
R1['password'] = [generate_password() for _ in range(len(R1))]
"""
R1["password"] = "password123"  # Placeholder password for all users
R1.head()

   userId firstName   lastName    username     password
0  1136.0    George    Roberts    groberts  password123
1  1350.0     Mario     Hardin     mhardin  password123
2  2276.0   Michael  Maldonado  mmaldonado  password123
3  2552.0     Corey    Johnson    cjohnson  password123
4  2996.0    Samuel     Dalton     sdalton  password123

In [23]:
# Looking for duplicate usernames 
R1["username"].value_counts().head()
duplicate_usernames = R1[R1.duplicated(subset="username", keep=False)]

print(duplicate_usernames)
print("Number of duplicate usernames:", duplicate_usernames["username"].nunique())

Empty DataFrame
Columns: [userId, firstName, lastName, username, password]
Index: []
Number of duplicate usernames: 0

In [24]:
# Make usernames unique to uphold schema constraint
counts = {}
new_usernames = []

for u in R1["username"]:
    if u not in counts:
        counts[u] = 0
        new_usernames.append(u)
    else:
        counts[u] += 1
        new_usernames.append(f"{u}_{counts[u]}")

R1["username"] = new_usernames

In [25]:
!pip install --upgrade pip
!pip install bcrypt
!pip install swifter

Requirement already satisfied: pip in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (25.3)
Requirement already satisfied: bcrypt in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (5.0.0)
Requirement already satisfied: swifter in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (1.4.0)
Requirement already satisfied: pandas>=1.0.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from swifter) (2.2.2)
Requirement already satisfied: psutil>=5.6.6 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from swifter) (5.9.0)
Requirement already satisfied: dask>=2.10.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask[dataframe]>=2.10.0->swifter) (2025.11.0)
Requirement already satisfied: tqdm>=4.33.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from swifter) (4.67.1)
Requirement already satisfied: click>=8.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (2025.7.0)
Requirement already satisfied: packaging>=20.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (24.2)
Requirement already satisfied: partd>=1.4.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.1.0)
Requirement already satisfied: pyarrow>=14.0.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask[dataframe]>=2.10.0->swifter) (22.0.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (2025.2)
Requirement already satisfied: locket in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from partd>=1.4.0->dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.0.0)
Requirement already satisfied: six>=1.5 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->swifter) (1.16.0)

In [26]:
import bcrypt
import swifter 

# Ensure passwords are strings and stripped
R1['password'] = R1['password'].astype(str).str.strip()

# Define hashing function
def hash_password(pw: str) -> str:
    pw_bytes = pw[:72].encode('utf-8')  # truncate to 72 bytes
    hashed_bytes = bcrypt.hashpw(pw_bytes, bcrypt.gensalt(rounds=8))  # lower rounds for speed
    return hashed_bytes.decode('utf-8')

# Hash all passwords in parallel
R1['password'] = R1['password'].swifter.apply(hash_password)

# Check

print(R1.head())

Pandas Apply:   0%|          | 0/7089 [00:00<?, ?it/s]

   userId firstName   lastName    username  \
0  1136.0    George    Roberts    groberts
1  1350.0     Mario     Hardin     mhardin
2  2276.0   Michael  Maldonado  mmaldonado
3  2552.0     Corey    Johnson    cjohnson
4  2996.0    Samuel     Dalton     sdalton

                                            password
0  $2b$08$iuUhW0UQjFmiH2Q.X5wUyOVSyhwaOlTDndfHZCT...
1  $2b$08$Tpko.57zTeaBnx87IDpsXetY0OQk21DLY3/PD8v...
2  $2b$08$lJP6z69s7d2W.aYOtEqjIeVzVJxjeBN/fagdcOQ...
3  $2b$08$I6run/PSZwqoiAEWUQ22E.Nfjm7/cBgqV864mj4...
4  $2b$08$lBG6ZOid4Cc4iGs5JjVMRuYZrt/1Zi9z92Ji6g5...

In [27]:
import bcrypt

pw = "mypassword123"
hashed = bcrypt.hashpw(pw.encode('utf-8'), bcrypt.gensalt(rounds=10))
print(hashed.decode('utf-8'))

$2b$10$BNrTxkxeA4rPyjQHhRBUaOJWD77bSG.lac2XYJbonlc5jUfyEe5Vq

In [28]:
# saving the csvs

# Users Table
R1.to_csv("final_project_database/datasource_csvs/users.csv", index = False)

# Books Table
R3.to_csv("final_project_database/datasource_csvs/books.csv", index = False)

# Ratings Table 
R4.to_csv("final_project_database/datasource_csvs/ratings.csv", index = False)

In [29]:
# Books Table
R3.to_csv("final_project_database/datasource_csvs/books.csv", index = False)

In [30]:
# only keep the entries from to_read table that have valid userId and bookId in the users and books tables

to_read = pd.read_csv("final_project_database/datasource_csvs/to_read.csv")
to_read = to_read.merge(R1[["userId"]], on="userId", how="inner")
to_read = to_read.merge(R3[["bookId"]], on="bookId", how="inner")

# Suppose history_df has userId and bookId columns
to_read = to_read[["userId", "bookId"]].drop_duplicates()
to_read.shape

(735, 2)

In [41]:
# adding has_wishliste history 
to_read["has_wishlisted"] = True

In [43]:
to_read.to_csv("final_project_database/datasource_csvs/to_read.csv", index = False)

---------------------------------------------------------------------

In [32]:
import ast
# Step 1: Convert string to actual list
df = R3 
print(type(df['genres'].iloc[0]))

<class 'str'>

In [33]:
# Explode directly if it's already a list
book_genre_mapping = df.explode('genres').rename(columns={'genres': 'genre'})

# Keep only book identifier and genre
book_genre_mapping = book_genre_mapping[['bookId', 'genre']]

print(book_genre_mapping.head())

   bookId                                              genre
0     890  ['Classics', 'Fiction', 'School', 'Historical ...
1    1953  ['Classics', 'Fiction', 'Historical Fiction', ...
2    3636  ['Young Adult', 'Fiction', 'Classics', 'Dystop...
3    3836  ['Classics', 'Fiction', 'Literature', 'Spanish...
4    2165  ['Classics', 'Fiction', 'Literature', 'Novels'...

In [34]:
num_unique_genres = book_genre_mapping['genre'].nunique()
print("Number of unique genres:", num_unique_genres)

Number of unique genres: 87

In [35]:
# Count how many times each genre appears
genre_counts = book_genre_mapping['genre'].value_counts()
print(genre_counts.head(30))  # Top 20 genres

genre
['Classics', 'Fiction', 'School', 'Historical Fiction', 'Literature', 'Read For School', 'Novels', 'High School', 'American', 'Classic Literature']          1
['Fiction', 'Thriller', 'Mystery', 'Espionage', 'Adventure', 'Crime', 'Suspense', 'Drama', 'Novels', 'Classics']                                             1
['Fantasy', 'Fiction', 'Epic Fantasy', 'Science Fiction Fantasy', 'High Fantasy', 'Magic', 'Epic', 'Adventure', 'Romance', 'Adult']                          1
['Young Adult', 'Fiction', 'Chick Lit', 'Contemporary', 'Romance', 'Teen', 'Realistic Fiction', 'Coming Of Age', 'Childrens', 'Young Adult Contemporary']    1
['Classics', 'Historical Fiction', 'Childrens', 'Fiction', 'Young Adult', 'Historical', 'Middle Grade', 'Juvenile', 'Audiobook', 'Chapter Books']            1
['Fantasy', 'Young Adult', 'Horror', 'Vampires', 'Fiction', 'Paranormal', 'Supernatural', 'Adventure', 'Urban Fantasy', 'Middle Grade']                      1
['Fantasy', 'Fiction', 'Young Adult', 'Childrens', 'Adventure', 'Animals', 'Science Fiction Fantasy', 'Middle Grade', 'Animal Fiction', 'High Fantasy']      1
['Short Stories', 'Fiction', 'Japan', 'Japanese Literature', 'Magical Realism', 'Contemporary', 'Literature', 'Fantasy', 'Asia', 'Asian Literature']         1
['Fiction', 'Mystery', 'Thriller', 'Legal Thriller', 'Crime', 'Suspense', 'Mystery Thriller', 'Law', 'Drama', 'Novels']                                      1
['Nonfiction', 'History', 'War', 'Journalism', 'Memoir', 'Military Fiction', 'Military History', 'Biography', 'American History', 'Asia']                    1
['Fantasy', 'Young Adult', 'Horror', 'Vampires', 'Paranormal', 'Fiction', 'Supernatural', 'Adventure', 'Urban Fantasy', 'Childrens']                         1
['Nonfiction', 'Essays', 'Philosophy', 'Humor', 'Short Stories', 'Literature', 'American', 'Contemporary', 'Journalism', 'Unfinished']                       1
['Mystery', 'Fiction', 'Humor', 'Chick Lit', 'Romance', 'Crime', 'Comedy', 'Contemporary', 'Mystery Thriller', 'Adult']                                      1
['Nonfiction', 'Essays', 'Humor', 'Short Stories', 'Memoir', 'American', 'Literature', 'Philosophy', 'Travel', 'Unfinished']                                 1
['Nonfiction', 'Travel', 'Humor', 'Memoir', 'Essays', 'Biography', 'Audiobook', 'American', 'The United States Of America', 'Autobiography']                 1
['Science Fiction', 'Fiction', 'Fantasy', 'Science Fiction Fantasy', 'Space Opera', 'Classics', 'Novels', 'Audiobook', 'Speculative Fiction', 'Space']       1
['Nonfiction', 'Science', 'Travel', 'Nature', 'Humor', 'Animals', 'Environment', 'Biology', 'Essays', 'Conservation']                                        1
['Fiction', 'Philosophy', 'Novels', 'Contemporary', 'Spirituality', 'Literature', 'Fantasy', 'Inspirational', 'Magical Realism', 'Adult']                    1
['Fiction', 'Thriller', 'Mystery', 'Legal Thriller', 'Suspense', 'Crime', 'Mystery Thriller', 'Novels', 'Italy', 'Espionage']                                1
['Fiction', 'Historical Fiction', 'Alternate History', 'Literature', 'Novels', 'American', 'Science Fiction', 'Jewish', 'Politics', 'Literary Fiction']      1
['Nonfiction', 'Memoir', 'Biography', 'Education', 'Autobiography', 'Teaching', 'Biography Memoir', 'Irish Literature', 'Ireland', 'Audiobook']              1
['Fiction', 'Classics', 'Literature', 'American', 'Novels', 'Literary Fiction', '20th Century', 'Adventure', 'Classic Literature', 'Historical Fiction']     1
['Childrens', 'Fiction', 'Fantasy', 'Classics', 'Animals', 'Middle Grade', 'Young Adult', 'Humor', 'Audiobook', 'Adventure']                                 1
['Memoir', 'Nonfiction', 'Biography', 'Biography Memoir', 'Audiobook', 'Writing', 'Autobiography', 'Book Club', 'Womens', 'Adult']                           1
['Fiction', 'Mystery', 'Thriller', 'Legal Thriller', 'Suspense', 'Crime', 'Mystery Thriller', 'Action', 'Contemporary', 'Adventure']                         1
['Fantasy', 'Young Adult', 'Childrens', 'Middle Grade', 'Fiction', 'Magic', 'Adventure', 'Mystery', 'Juvenile', 'Audiobook']                                 1
['Mystery', 'Romance', 'Fiction', 'Chick Lit', 'Humor', 'Comedy', 'Contemporary', 'Crime', 'Adult', 'Mystery Thriller']                                      1
['Childrens', 'Picture Books', 'Classics', 'Fiction', 'Poetry', 'Fantasy', 'Humor', 'Audiobook', 'Kids', 'Juvenile']                                         1
['Nonfiction', 'Medicine', 'Medical', 'Science', 'Memoir', 'Health', 'Biography', 'Health Care', 'Audiobook', 'Essays']                                      1
['Chick Lit', 'Fiction', 'Romance', 'Contemporary', 'New York', 'Adult', 'Humor', 'Sexuality', 'Adult Fiction', 'American']                                  1
Name: count, dtype: int64

In [36]:
import pandas as pd

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)

print(genre_counts)

genre
['Classics', 'Fiction', 'School', 'Historical Fiction', 'Literature', 'Read For School', 'Novels', 'High School', 'American', 'Classic Literature']                             1
['Fiction', 'Thriller', 'Mystery', 'Espionage', 'Adventure', 'Crime', 'Suspense', 'Drama', 'Novels', 'Classics']                                                                1
['Fantasy', 'Fiction', 'Epic Fantasy', 'Science Fiction Fantasy', 'High Fantasy', 'Magic', 'Epic', 'Adventure', 'Romance', 'Adult']                                             1
['Young Adult', 'Fiction', 'Chick Lit', 'Contemporary', 'Romance', 'Teen', 'Realistic Fiction', 'Coming Of Age', 'Childrens', 'Young Adult Contemporary']                       1
['Classics', 'Historical Fiction', 'Childrens', 'Fiction', 'Young Adult', 'Historical', 'Middle Grade', 'Juvenile', 'Audiobook', 'Chapter Books']                               1
['Fantasy', 'Young Adult', 'Horror', 'Vampires', 'Fiction', 'Paranormal', 'Supernatural', 'Adventure', 'Urban Fantasy', 'Middle Grade']                                         1
['Fantasy', 'Fiction', 'Young Adult', 'Childrens', 'Adventure', 'Animals', 'Science Fiction Fantasy', 'Middle Grade', 'Animal Fiction', 'High Fantasy']                         1
['Short Stories', 'Fiction', 'Japan', 'Japanese Literature', 'Magical Realism', 'Contemporary', 'Literature', 'Fantasy', 'Asia', 'Asian Literature']                            1
['Fiction', 'Mystery', 'Thriller', 'Legal Thriller', 'Crime', 'Suspense', 'Mystery Thriller', 'Law', 'Drama', 'Novels']                                                         1
['Nonfiction', 'History', 'War', 'Journalism', 'Memoir', 'Military Fiction', 'Military History', 'Biography', 'American History', 'Asia']                                       1
['Fantasy', 'Young Adult', 'Horror', 'Vampires', 'Paranormal', 'Fiction', 'Supernatural', 'Adventure', 'Urban Fantasy', 'Childrens']                                            1
['Nonfiction', 'Essays', 'Philosophy', 'Humor', 'Short Stories', 'Literature', 'American', 'Contemporary', 'Journalism', 'Unfinished']                                          1
['Mystery', 'Fiction', 'Humor', 'Chick Lit', 'Romance', 'Crime', 'Comedy', 'Contemporary', 'Mystery Thriller', 'Adult']                                                         1
['Nonfiction', 'Essays', 'Humor', 'Short Stories', 'Memoir', 'American', 'Literature', 'Philosophy', 'Travel', 'Unfinished']                                                    1
['Nonfiction', 'Travel', 'Humor', 'Memoir', 'Essays', 'Biography', 'Audiobook', 'American', 'The United States Of America', 'Autobiography']                                    1
['Science Fiction', 'Fiction', 'Fantasy', 'Science Fiction Fantasy', 'Space Opera', 'Classics', 'Novels', 'Audiobook', 'Speculative Fiction', 'Space']                          1
['Nonfiction', 'Science', 'Travel', 'Nature', 'Humor', 'Animals', 'Environment', 'Biology', 'Essays', 'Conservation']                                                           1
['Fiction', 'Philosophy', 'Novels', 'Contemporary', 'Spirituality', 'Literature', 'Fantasy', 'Inspirational', 'Magical Realism', 'Adult']                                       1
['Fiction', 'Thriller', 'Mystery', 'Legal Thriller', 'Suspense', 'Crime', 'Mystery Thriller', 'Novels', 'Italy', 'Espionage']                                                   1
['Fiction', 'Historical Fiction', 'Alternate History', 'Literature', 'Novels', 'American', 'Science Fiction', 'Jewish', 'Politics', 'Literary Fiction']                         1
['Nonfiction', 'Memoir', 'Biography', 'Education', 'Autobiography', 'Teaching', 'Biography Memoir', 'Irish Literature', 'Ireland', 'Audiobook']                                 1
['Fiction', 'Classics', 'Literature', 'American', 'Novels', 'Literary Fiction', '20th Century', 'Adventure', 'Classic Literature', 'Historical Fiction']                        1
['Childrens', 'Fiction', 'Fantasy', 'Classics', 'Animals', 'Middle Grade', 'Young Adult', 'Humor', 'Audiobook', 'Adventure']                                                    1
['Memoir', 'Nonfiction', 'Biography', 'Biography Memoir', 'Audiobook', 'Writing', 'Autobiography', 'Book Club', 'Womens', 'Adult']                                              1
['Fiction', 'Mystery', 'Thriller', 'Legal Thriller', 'Suspense', 'Crime', 'Mystery Thriller', 'Action', 'Contemporary', 'Adventure']                                            1
['Fantasy', 'Young Adult', 'Childrens', 'Middle Grade', 'Fiction', 'Magic', 'Adventure', 'Mystery', 'Juvenile', 'Audiobook']                                                    1
['Mystery', 'Romance', 'Fiction', 'Chick Lit', 'Humor', 'Comedy', 'Contemporary', 'Crime', 'Adult', 'Mystery Thriller']                                                         1
['Childrens', 'Picture Books', 'Classics', 'Fiction', 'Poetry', 'Fantasy', 'Humor', 'Audiobook', 'Kids', 'Juvenile']                                                            1
['Nonfiction', 'Medicine', 'Medical', 'Science', 'Memoir', 'Health', 'Biography', 'Health Care', 'Audiobook', 'Essays']                                                         1
['Chick Lit', 'Fiction', 'Romance', 'Contemporary', 'New York', 'Adult', 'Humor', 'Sexuality', 'Adult Fiction', 'American']                                                     1
['Fiction', 'Thriller', 'Mystery', 'Legal Thriller', 'Suspense', 'Crime', 'Mystery Thriller', 'Law', 'Novels', 'Adult Fiction']                                                 1
['Fiction', 'Adoption', 'Contemporary', 'Adult Fiction', 'Novels', 'Family', 'Book Club', 'Literary Fiction', 'Adult', 'Audiobook']                                             1
['Fiction', 'India', 'Magical Realism', 'Literature', 'Historical Fiction', 'Contemporary', 'Literary Fiction', 'Indian Literature', 'Novels', 'Asia']                          1
['Science Fiction', 'Fiction', 'Fantasy', 'Space Opera', 'Science Fiction Fantasy', 'Audiobook', 'Time Travel', 'Space', 'Adventure', 'Speculative Fiction']                    1
['Fiction', 'Short Stories', 'Humor', 'Classics', 'Science Fiction', 'Literature', 'American', 'Essays', 'Adult Fiction', 'Literary Fiction']                                   1
['Fiction', 'Thriller', 'Mystery', 'Medical', 'Suspense', 'Mystery Thriller', 'Science Fiction', 'Crime', 'Medicine', 'Drama']                                                  1
['Fantasy', 'Fiction', 'Alternate History', 'Historical Fiction', 'Science Fiction Fantasy', 'Science Fiction', 'Historical', 'Magic', 'Young Adult', 'Speculative Fiction']    1
['Fiction', 'Thriller', 'Mystery', 'Crime', 'Suspense', 'Mystery Thriller', 'Japan', 'Drama', 'Science Fiction', 'Novels']                                                      1
['Classics', 'Historical Fiction', 'Childrens', 'Fiction', 'Young Adult', 'Historical', 'Middle Grade', 'Juvenile', 'Family', 'Chapter Books']                                  1
['Christian Fiction', 'Christian', 'Fiction', 'Romance', 'Contemporary', 'Adult', 'Novels', 'Christian Romance', 'Religion', 'Faith']                                           1
['Science', 'Philosophy', 'Nonfiction', 'Evolution', 'Biology', 'History', 'Religion', 'Psychology', 'Popular Science', 'Atheism']                                              1
['Nonfiction', 'Memoir', 'Food', 'Biography', 'France', 'Travel', 'Cooking', 'Autobiography', 'Cookbooks', 'Audiobook']                                                         1
['Young Adult', 'Realistic Fiction', 'Fiction', 'Middle Grade', 'School', 'Childrens', 'Read For School', 'Contemporary', 'Coming Of Age', 'Chapter Books']                     1
['Classics', 'LGBT', 'Fiction', 'Queer', 'Romance', 'Gay', 'Historical Fiction', 'Historical', 'Novels', '20th Century']                                                        1
['Classics', 'Fiction', 'Historical Fiction', 'Literature', 'Historical', 'Novels', 'School', 'Classic Literature', '19th Century', 'British Literature']                       1
['Fiction', 'Classics', 'Short Stories', 'Literature', 'American', 'Novels', '20th Century', 'Literary Fiction', 'Adult Fiction', 'Adult']                                      1
['Nonfiction', 'Travel', 'Humor', 'Memoir', 'Nature', 'Adventure', 'Audiobook', 'Biography', 'Outdoors', 'History']                                                             1
['Fiction', 'Historical Fiction', 'Romance', 'Classics', 'War', 'Historical', 'Greece', 'World War II', 'Novels', 'Literature']                                                 1
['Fiction', 'Classics', 'Historical Fiction', 'Politics', 'Literature', 'Novels', 'American', 'Literary Fiction', 'Southern', 'Historical']                                     1
['Mystery', 'Young Adult', 'Fiction', 'Middle Grade', 'Childrens', 'Classics', 'School', 'Mystery Thriller', 'Juvenile', 'Realistic Fiction']                                   1
['Fiction', 'Romance', 'Magical Realism', 'Historical Fiction', 'Classics', 'Fantasy', 'Food', 'Spanish Literature', 'Adult', 'Novels']                                         1
['Classics', 'Fiction', 'Young Adult', 'Historical Fiction', 'School', 'Coming Of Age', 'Literature', 'Read For School', 'High School', 'Novels']                               1
['Fantasy', 'Childrens', 'Fiction', 'Classics', 'Young Adult', 'Middle Grade', 'Witches', 'Magic', 'Humor', 'Juvenile']                                                         1
['Fiction', 'Contemporary', 'Literary Fiction', 'Book Club', 'Novels', 'Music', 'Adult Fiction', 'Literature', 'Adult', 'Romance']                                              1
['Fiction', 'Classics', 'Historical Fiction', 'Literature', 'Literary Fiction', 'Contemporary', 'Novels', 'American', 'Adult Fiction', 'Historical']                            1
['Romance', 'Fiction', 'Chick Lit', 'Contemporary', 'Adult', 'Adult Fiction', 'Contemporary Romance', 'Love', 'Love Story', 'Drama']                                            1
['Historical Fiction', 'Fiction', 'Historical', 'Classics', 'Art', 'Romance', 'Adult Fiction', 'Adult', 'Novels', 'Literature']                                                 1
['Fantasy', 'Fiction', 'Classics', 'High Fantasy', 'Science Fiction Fantasy', 'Epic Fantasy', 'Mythology', 'Literature', 'Novels', 'Adventure']                                 1
['Fiction', 'Historical Fiction', 'Romance', 'Classics', 'Historical', 'War', 'Literary Fiction', 'Contemporary', 'Literature', 'Novels']                                       1
['Fiction', 'Classics', 'Historical Fiction', 'Romance', 'Magical Realism', 'Literature', 'Novels', 'Spanish Literature', 'Literary Fiction', 'Historical']                     1
['Fantasy', 'Classics', 'Fiction', 'Adventure', 'Young Adult', 'Science Fiction Fantasy', 'High Fantasy', 'Childrens', 'Epic Fantasy', 'Novels']                                1
['Classics', 'Fiction', 'Literature', 'Novels', 'American', 'School', 'Adventure', 'Classic Literature', 'Literary Fiction', '20th Century']                                    1
['Classics', 'Fiction', 'Literature', 'Spanish Literature', 'Adventure', 'Novels', 'Historical Fiction', 'Spain', 'Humor', 'Classic Literature']                                1
['Young Adult', 'Fiction', 'Classics', 'Dystopia', 'Science Fiction', 'Fantasy', 'School', 'Childrens', 'Middle Grade', 'Read For School']                                      1
['Fiction', 'Classics', 'Literature', 'Novels', 'American', 'Contemporary', 'Thriller', 'Banned Books', '20th Century', 'Science Fiction']                                      1
['Classics', 'Poetry', 'Fiction', 'Mythology', 'Literature', 'Fantasy', 'School', 'Historical Fiction', 'War', 'Epic']                                                          1
['Nonfiction', 'Essays', 'Humor', 'Pop Culture', 'Music', 'Cultural', 'Memoir', 'Sociology', 'Comedy', 'Adult']                                                                 1
['Classics', 'Fiction', 'Romance', 'France', 'French Literature', 'Historical Fiction', '19th Century', 'Literature', 'Novels', 'Drama']                                        1
['Fiction', 'Chick Lit', 'Romance', 'Ireland', 'Contemporary', 'Irish Literature', 'Adult Fiction', 'Novels', 'Adult', 'Drama']                                                 1
['Nonfiction', 'Travel', 'Classics', 'Memoir', 'Biography', 'Literature', 'Biography Memoir', 'American', 'Adventure', 'History']                                               1
['Fiction', 'Humor', 'Novels', 'Literature', 'Contemporary', 'Magical Realism', 'American', 'Philosophy', 'Literary Fiction', 'Classics']                                       1
['Classics', 'Plays', 'Fiction', 'Drama', 'Theatre', 'School', 'Literature', 'Romance', 'British Literature', 'Read For School']                                                1
['Finance', 'Business', 'Self Help', 'Nonfiction', 'Personal Finance', 'Money', 'Personal Development', 'Economics', 'Classics', 'Philosophy']                                  1
['Philosophy', 'Nonfiction', 'Psychology', 'Classics', 'Essays', 'Spirituality', 'Religion', 'Science', 'Thriller', 'Literature']                                               1
['History', 'Nonfiction', 'Science', 'Anthropology', 'Sociology', 'Politics', 'Economics', 'Historical', 'World History', 'Geography']                                          1
['Fiction', 'Novels', 'Philosophy', 'Contemporary', 'Romance', 'Spirituality', 'Literature', 'Inspirational', 'Adult', 'Love']                                                  1
['Fiction', 'Classics', 'Philosophy', 'Historical Fiction', 'Literature', 'Politics', 'Russia', 'Novels', 'Historical', 'Dystopia']                                             1
['Young Adult', 'Fiction', 'Adventure', 'Classics', 'Survival', 'Childrens', 'Realistic Fiction', 'Middle Grade', 'School', 'Read For School']                                  1
['Young Adult', 'Contemporary', 'Romance', 'Fiction', 'Realistic Fiction', 'Chick Lit', 'Abuse', 'Teen', 'Young Adult Contemporary', 'High School']                             1
['Fiction', 'Science Fiction', 'Classics', 'Humor', 'Literature', 'Novels', 'American', 'Fantasy', 'Dystopia', 'Post Apocalyptic']                                              1
['Historical Fiction', 'Fiction', 'Historical', 'Medieval', 'Adventure', 'Medicine', 'Novels', 'Classics', 'British Literature', 'Romance']                                     1
['Fiction', 'Classics', 'Science Fiction', 'Philosophy', 'Dystopia', 'Literature', 'Novels', 'Utopia', 'Fantasy', 'British Literature']                                         1
['Picture Books', 'Childrens', 'Fiction', 'Fantasy', 'Classics', 'Food', 'Humor', 'Kids', 'Juvenile', 'Science Fiction Fantasy']                                                1
['Fiction', 'Africa', 'Historical Fiction', 'War', 'Contemporary', 'Sudan', 'Novels', 'Literature', 'Book Club', 'Historical']                                                  1
['Classics', 'Fiction', 'Young Adult', 'Childrens', 'Historical Fiction', 'Romance', 'Canada', 'Middle Grade', 'Historical', 'Literature']                                      1
['Fiction', 'Classics', 'Historical Fiction', 'War', 'Literature', 'Novels', 'Asia', 'British Literature', 'Literary Fiction', 'Historical']                                    1
['Mystery', 'Fiction', 'Crime', 'Mystery Thriller', 'Detective', 'British Literature', 'Audiobook', 'Murder Mystery', 'Thriller', 'Adult']                                      1
Name: count, dtype: int64

In [37]:
# mapping into a seperate csv 
# Mapping of genres to buckets
genre_to_bucket = {
    # Adult Fiction
    'Fiction': 'Adult Fiction',
    'Adult Fiction': 'Adult Fiction',
    'Contemporary': 'Adult Fiction',
    'Historical Fiction': 'Adult Fiction',

    # Classics & Literature
    'Classics': 'Classics & Literature',
    'Literature': 'Classics & Literature',
    'Novels': 'Classics & Literature',
    'Literary Fiction': 'Classics & Literature',
    'American': 'Classics & Literature',
    'British Literature': 'Classics & Literature',
    'French Literature': 'Classics & Literature',
    'Spanish Literature': 'Classics & Literature',
    'Irish Literature': 'Classics & Literature',
    'Indian Literature': 'Classics & Literature',

    # Young Adult (YA)
    'Young Adult': 'Young Adult (YA)',
    'Young Adult Contemporary': 'Young Adult (YA)',
    'Coming Of Age': 'Young Adult (YA)',
    'High School': 'Young Adult (YA)',
    'Teen': 'Young Adult (YA)',

    # Children / Middle Grade
    'Middle Grade': 'Children / Middle Grade',
    'Childrens': 'Children / Middle Grade',
    'Kids': 'Children / Middle Grade',
    'Chapter Books': 'Children / Middle Grade',
    'Picture Books': 'Children / Middle Grade',

    # Fantasy & Sci-Fi
    'Fantasy': 'Fantasy & Sci-Fi',
    'High Fantasy': 'Fantasy & Sci-Fi',
    'Epic Fantasy': 'Fantasy & Sci-Fi',
    'Urban Fantasy': 'Fantasy & Sci-Fi',
    'Science Fiction': 'Fantasy & Sci-Fi',
    'Science Fiction Fantasy': 'Fantasy & Sci-Fi',
    'Space': 'Fantasy & Sci-Fi',
    'Space Opera': 'Fantasy & Sci-Fi',
    'Magic': 'Fantasy & Sci-Fi',
    'Supernatural': 'Fantasy & Sci-Fi',
    'Speculative Fiction': 'Fantasy & Sci-Fi',
    'Time Travel': 'Fantasy & Sci-Fi',
    'Dystopia': 'Fantasy & Sci-Fi',
    'Witches': 'Fantasy & Sci-Fi',
    'Vampires': 'Fantasy & Sci-Fi',

    # Mystery / Thriller / Crime
    'Mystery': 'Mystery / Thriller / Crime',
    'Crime': 'Mystery / Thriller / Crime',
    'Mystery Thriller': 'Mystery / Thriller / Crime',
    'Legal Thriller': 'Mystery / Thriller / Crime',
    'Thriller': 'Mystery / Thriller / Crime',
    'Murder Mystery': 'Mystery / Thriller / Crime',
    'Detective': 'Mystery / Thriller / Crime',
    'Espionage': 'Mystery / Thriller / Crime',
    'Suspense': 'Mystery / Thriller / Crime',

    # Romance & Humor
    'Romance': 'Romance & Humor',
    'Chick Lit': 'Romance & Humor',
    'Love': 'Romance & Humor',
    'Love Story': 'Romance & Humor',
    'Humor': 'Romance & Humor',
    'Comedy': 'Romance & Humor',
    'Adult Romance': 'Romance & Humor',
    'Contemporary Romance': 'Romance & Humor',

    # Nonfiction / Biography / History
    'Historical': 'Nonfiction / Biography / History',
    'Military History': 'Nonfiction / Biography / History',
    'World History': 'Nonfiction / Biography / History',
    '19th Century': 'Nonfiction / Biography / History',
    '20th Century': 'Nonfiction / Biography / History',
    'Biography': 'Nonfiction / Biography / History',
    'Memoir': 'Nonfiction / Biography / History',
    'Autobiography': 'Nonfiction / Biography / History',
    'Essays': 'Nonfiction / Biography / History',
    'Nonfiction': 'Nonfiction / Biography / History',
    'Philosophy': 'Nonfiction / Biography / History',
    'Science': 'Nonfiction / Biography / History',
    'Popular Science': 'Nonfiction / Biography / History',
    'Psychology': 'Nonfiction / Biography / History',
    'Sociology': 'Nonfiction / Biography / History',
    'Economics': 'Nonfiction / Biography / History',
    'History': 'Nonfiction / Biography / History',

    # Education / School
    'School': 'Education / School',
    'Read For School': 'Education / School',
    'Teaching': 'Education / School',
    'Education': 'Education / School',

    # Religion / Spirituality
    'Religion': 'Religion / Spirituality',
    'Christian': 'Religion / Spirituality',
    'Christian Fiction': 'Religion / Spirituality',
    'Christian Romance': 'Religion / Spirituality',
    'Atheism': 'Religion / Spirituality',
    'Faith': 'Religion / Spirituality',
    'Spirituality': 'Religion / Spirituality',
    'Jewish': 'Religion / Spirituality',

    # Food & Cooking
    'Cooking': 'Food & Cooking',
    'Cookbooks': 'Food & Cooking',
    'Food': 'Food & Cooking',

    # Health / Medicine
    'Health': 'Health / Medicine',
    'Health Care': 'Health / Medicine',
    'Medicine': 'Health / Medicine',

    # Travel / Geography / Nature
    'Travel': 'Travel / Geography / Nature',
    'Geography': 'Travel / Geography / Nature',
    'Environment': 'Travel / Geography / Nature',
    'Nature': 'Travel / Geography / Nature',
    'Outdoors': 'Travel / Geography / Nature',
    'Conservation': 'Travel / Geography / Nature',

    # Business / Finance
    'Finance': 'Business / Finance',
    'Money': 'Business / Finance',
    'Personal Finance': 'Business / Finance',
    'Business': 'Business / Finance',

    # Self Help / Personal Development
    'Self Help': 'Self Help / Personal Development',
    'Personal Development': 'Self Help / Personal Development',

    # Arts / Music / Theatre
    'Art': 'Arts / Music / Theatre',
    'Music': 'Arts / Music / Theatre',
    'Theatre': 'Arts / Music / Theatre',
    'Plays': 'Arts / Music / Theatre',

    # International / Regional Literature
    'Japanese Literature': 'International / Regional Literature',
    'Asian Literature': 'International / Regional Literature',
    'French Literature': 'International / Regional Literature',
    'Spanish Literature': 'International / Regional Literature',
    'Irish Literature': 'International / Regional Literature',
    'Indian Literature': 'International / Regional Literature',
    'America': 'International / Regional Literature',
    'Europe': 'International / Regional Literature',
    'Africa': 'International / Regional Literature',

    # Other / Rare
    'Banned Books': 'Other / Rare',
    'Unfinished': 'Other / Rare',
    'Adoption': 'Other / Rare',
    'Journalism': 'Other / Rare',
    'Sexuality': 'Other / Rare',
    'Military Fiction': 'Other / Rare',
}

# Example: Map genres to buckets
book_genre_mapping['bucket'] = book_genre_mapping['genre'].map(genre_to_bucket)
book_genre_mapping = book_genre_mapping.dropna(subset=['bucket'])
book_genre_mapping.head()

Empty DataFrame
Columns: [bookId, genre, bucket]
Index: []

In [38]:
book_genre_mapping = book_genre_mapping[['bookId', 'bucket']].drop_duplicates().reset_index(drop=True)
book_genre_mapping = book_genre_mapping.rename(columns={'bucket': 'genreBucket'})
book_genre_mapping.head()

Empty DataFrame
Columns: [bookId, genreBucket]
Index: []

In [39]:
num_unique_genres = book_genre_mapping['genreBucket'].nunique()
print("Number of unique genres:", num_unique_genres)

Number of unique genres: 0

In [40]:
book_genre_mapping['genreBucket'].value_counts()

Series([], Name: count, dtype: int64)