Decomposing wide table into BCNF.

In [134]:
import pandas as pd
import os
os.getcwd()

'/Users/ellawileman/Documents/fall2025/db_management/final_project_database'

In [135]:

from pathlib import Path
import os
import subprocess

# Set any folder you know is in the repo
start = Path("/Users/ellawileman/Documents/fall2025/db_management/final_project_database/final_project_database")

# Walk upward until .git is found
current = start
while True:
    if ".git" in os.listdir(current):
        repo_root = current
        break
    parent = current.parent
    if parent == current:
        raise RuntimeError("Not inside a Git repo")
    current = parent

os.chdir(repo_root)
print("Repo root:", repo_root)

subprocess.run(["git", "status"])

Repo root: /Users/ellawileman/Documents/fall2025/db_management/final_project_database
On branch main
Your branch is behind 'origin/main' by 5 commits, and can be fast-forwarded.
  (use "git pull" to update your local branch)

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   final_project_database/p2_starter_code/target/classes/database_setup.sql
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/AccountController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/HashtagSearchController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/HomeController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/LoginController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/PeopleController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/PostController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/ProfileController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/RegistrationController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/BasicRating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Book.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Rating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/User.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/AccountService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/PostService.class
	modif

CompletedProcess(args=['git', 'status'], returncode=0)

ied:   final_project_database/p2_starter_code/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	final_project_database/.DS_Store
	final_project_database/datasource_csvs/.DS_Store
	final_project_database/p2_starter_code/.DS_Store
	final_project_database/p2_starter_code/src/.DS_Store
	final_project_database/p2_starter_code/src/main/.DS_Store
	final_project_database/p2_starter_code/src/main/resources/.DS_Store

no changes added to commit (use "git add" and/or "git commit -a")

In [136]:

import subprocess

# Status
subprocess.run(["git", "status"])

# Example: list branches
subprocess.run(["git", "branch"])

# Pull latest changes
subprocess.run(["git", "pull"])

On branch main
Your branch is behind 'origin/main' by 5 commits, and can be fast-forwarded.
  (use "git pull" to update your local branch)

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   final_project_database/p2_starter_code/target/classes/database_setup.sql
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/AccountController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/HashtagSearchController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/HomeController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/LoginController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/PeopleController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/PostController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/ProfileController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/RegistrationController.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/BasicRating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Book.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/Rating.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/User.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/AccountService.class
	modified:   final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/PostService.class
	modified:   final_project_database/p2_starter_code/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	final_project_database/.DS_Store
	final_project_database/datasource_csvs/.DS_Store
	final_project_database/p2_starter_code/.DS_Store
	final_project_database/p2_starter_code/src/.DS_Store
	final_project_database/p2_starter_code/src/main/.DS_Store
	final_project_database/p2_starter_code/src/main/resources/.DS_Store

no changes added to commit (use "git add" and/or "git commit -a")
* main
Updating dda89e4..6a51912

error: Your local changes to the following files would be overwritten by merge:
	final_project_database/p2_starter_code/target/classes/database_setup.sql
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/HashtagSearchController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/HomeController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/LoginController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/PeopleController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/PostController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/ProfileController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/controllers/RegistrationController.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/models/User.class
	final_project_database/p2_starter_code/target/classes/uga/menik/csx370/services/PostService.class
Please commit your changes or stash them before you merge.
Aborting

CompletedProcess(args=['git', 'pull'], returncode=1)

In [137]:
"""
import os

# List all files/folders in current directory
print(os.listdir())

# Or list them nicely, one per line
for f in os.listdir():
    print(f)
    

# Path to a file inside the repo
file_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")

"""

'\nimport os\n\n# List all files/folders in current directory\nprint(os.listdir())\n\n# Or list them nicely, one per line\nfor f in os.listdir():\n    print(f)\n    \n\n# Path to a file inside the repo\nfile_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")\n\n'

In [138]:
wide_dat = pd.read_csv("final_project_database/datasource_csvs/test_wide_with_pages.csv")
wide_dat["isbn13"] = wide_dat["isbn13"].astype("int64")

# Standardize column names with schema
wide_dat = wide_dat.rename(columns={"book_id": "bookId", "user_id": "userId", "FirstName": "firstName", "LastName": "lastName", "Username": "username"})

In [139]:
wide_dat = wide_dat.drop(['_merge', 'on_user_list'], axis=1) 
wide_dat.head()

,isbn13,description,genres,bookId,title,authors,average_rating,original_publication_year,ratings_count,image_url,userId,rating,firstName,lastName,username,total_copies,page_count
0,9781416914280,When fifteen-year-old Clary Fray heads out to ...,"['Fantasy', 'Young Adult', 'Paranormal', 'Roma...",256683,"City of Bones (The Mortal Instruments, #1)",Cassandra Clare,4.12,2007,1154031,https://images.gr-assets.com/books/1432730315m...,NaN,NaN,NaN,NaN,NaN,3,485
1,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1136.0,4.0,George,Roberts,traceybaker,4,103
2,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1350.0,4.0,Mario,Hardin,wrightashley,4,103
3,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2276.0,4.0,Michael,Maldonado,johncurtis,4,103
4,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2552.0,4.0,Corey,Johnson,ymiller,4,103

In [140]:
wide_dat.dtypes

isbn13                         int64
description                   object
genres                        object
bookId                         int64
title                         object
authors                       object
average_rating               float64
original_publication_year      int64
ratings_count                  int64
image_url                     object
userId                       float64
rating                       float64
firstName                     object
lastName                      object
username                      object
total_copies                   int64
page_count                     int64
dtype: object

R(isbn13, description, genres, book_id, title, authors, average_rating, original_publication_year, ratings_count, image_url, user_id, rating, FirstName, LastName, username, page_count, total_copies)

In [141]:
R = wide_dat

Minimal superkey (candidate key) = (book_id, user_id)

Decompose on FD #1: user_id -> FirstName, LastName, Username

In [142]:
R1 = R[["userId", "firstName", "lastName", "username"]].drop_duplicates().reset_index(drop=True)
R1 = R1.dropna(subset=['userId'])

In [143]:
R1.head()

   userId firstName   lastName      username
1  1136.0    George    Roberts   traceybaker
2  1350.0     Mario     Hardin  wrightashley
3  2276.0   Michael  Maldonado    johncurtis
4  2552.0     Corey    Johnson       ymiller
5  2996.0    Samuel     Dalton   smithrobert

In [144]:
R2 = R[["userId", "isbn13", "description", "genres", "bookId", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "rating", "total_copies", "page_count"]].drop_duplicates().reset_index(drop=True)
R2 = R2.dropna(subset=['userId'])
R2 = R2.dropna(subset=["bookId"])

In [145]:
R2.head()

,userId,isbn13,description,genres,bookId,title,authors,average_rating,original_publication_year,ratings_count,image_url,rating,total_copies,page_count
1,1136.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
2,1350.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
3,2276.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
4,2552.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4,103
5,2996.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,3.0,4,103

Does FD #2 satisfy BCNF? 
No because book_id is not superkey. Decompose.

In [146]:
R3 = R2[["bookId", "isbn13", "description", "genres", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "total_copies", "page_count"]].drop_duplicates().reset_index(drop=True)
R3 = R3.dropna(subset=["bookId"])
R3.head()

,bookId,isbn13,description,genres,title,authors,average_rating,original_publication_year,ratings_count,image_url,total_copies,page_count
0,890,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4,103
1,1953,9780141439600,After eighteen years as a political prisoner i...,"['Classics', 'Fiction', 'Historical Fiction', ...",A Tale of Two Cities,"Charles Dickens, Richard Maxwell, Hablot Knigh...",3.81,1859,637412,https://images.gr-assets.com/books/1344922523m...,3,489
2,3636,9780385732550,Twelve-year-old Jonas lives in a seemingly ide...,"['Young Adult', 'Fiction', 'Classics', 'Dystop...","The Giver (The Giver, #1)",Lois Lowry,4.12,1993,1296825,https://images.gr-assets.com/books/1342493368m...,3,208
3,3836,9780142437230,Don Quixote has become so entranced by reading...,"['Classics', 'Fiction', 'Literature', 'Spanish...",Don Quixote,"Miguel de Cervantes Saavedra, Roberto González...",3.85,1605,134931,https://images.gr-assets.com/books/1364958765m...,1,1023
4,2165,9780684830490,Librarian's note: An alternate cover edition c...,"['Classics', 'Fiction', 'Literature', 'Novels'...",The Old Man and the Sea,Ernest Hemingway,3.73,1952,520630,https://images.gr-assets.com/books/1329189714m...,3,96

In [147]:
R4 = R2[["userId", "bookId", "rating"]].drop_duplicates(subset=["userId", "bookId"], keep="first").reset_index(drop=True)
R4 = R4.dropna(subset=['userId'])
R4 = R4.dropna(subset=["bookId"])
R4.head()

   userId  bookId  rating
0  1136.0     890     4.0
1  1350.0     890     4.0
2  2276.0     890     4.0
3  2552.0     890     4.0
4  2996.0     890     3.0

FD #3 satisfies BCNF so all decomposed relations are now in BCNF.

In [148]:
# Adding a password column with randomly generated passwords 
import string
import random

# Function to generate a random password
""""
def generate_password(length=10):
    chars = string.ascii_letters + string.digits + string.punctuation
    return ''.join(random.choice(chars) for _ in range(length))

# Add a password column
R1['password'] = [generate_password() for _ in range(len(R1))]
"""
R1["password"] = "password123"  # Placeholder password for all users
R1.head()

   userId firstName   lastName      username     password
1  1136.0    George    Roberts   traceybaker  password123
2  1350.0     Mario     Hardin  wrightashley  password123
3  2276.0   Michael  Maldonado    johncurtis  password123
4  2552.0     Corey    Johnson       ymiller  password123
5  2996.0    Samuel     Dalton   smithrobert  password123

In [149]:
# Looking for duplicate usernames 
R1["username"].value_counts().head()
duplicate_usernames = R1[R1.duplicated(subset="username", keep=False)]

print(duplicate_usernames)
print("Number of duplicate usernames:", duplicate_usernames["username"].nunique())

       userId firstName    lastName    username     password
6      3420.0     Derek    Gonzalez      fbrown  password123
53    23202.0    Daniel       Burns  jrodriguez  password123
60    27997.0      Jodi        Ruiz    joseph54  password123
71    35329.0      Ryan       Kelly    thomas07  password123
76    37363.0     Ricky      Harris   owilliams  password123
...       ...       ...         ...         ...          ...
7057  23798.0     Tammy  Mccullough  hallrobert  password123
7061  26499.0  Jennifer      Atkins  khernandez  password123
7081  42645.0     Tonya       Smith       khall  password123
7082  46886.0    Robert      Adkins      xbrown  password123
7088  51800.0     Harry    Griffith    fjohnson  password123

[529 rows x 5 columns]
Number of duplicate usernames: 248

In [150]:
# Make usernames unique to uphold schema constraint
counts = {}
new_usernames = []

for u in R1["username"]:
    if u not in counts:
        counts[u] = 0
        new_usernames.append(u)
    else:
        counts[u] += 1
        new_usernames.append(f"{u}_{counts[u]}")

R1["username"] = new_usernames

In [151]:
!pip install --upgrade pip
!pip install bcrypt
!pip install swifter

Requirement already satisfied: pip in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (25.3)
Requirement already satisfied: bcrypt in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (5.0.0)
Requirement already satisfied: swifter in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (1.4.0)
Requirement already satisfied: pandas>=1.0.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from swifter) (2.2.2)
Requirement already satisfied: psutil>=5.6.6 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from swifter) (5.9.0)
Requirement already satisfied: dask>=2.10.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask[dataframe]>=2.10.0->swifter) (2025.11.0)
Requirement already satisfied: tqdm>=4.33.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from swifter) (4.67.1)
Requirement already satisfied: click>=8.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (8.2.1)
Requirement already satisfied: cloudpickle>=3.0.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (2025.7.0)
Requirement already satisfied: packaging>=20.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (24.2)
Requirement already satisfied: partd>=1.4.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.1.0)
Requirement already satisfied: pyarrow>=14.0.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from dask[dataframe]>=2.10.0->swifter) (22.0.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from pandas>=1.0.0->swifter) (2025.2)
Requirement already satisfied: locket in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from partd>=1.4.0->dask>=2.10.0->dask[dataframe]>=2.10.0->swifter) (1.0.0)
Requirement already satisfied: six>=1.5 in /Users/ellawileman/anaconda3/envs/new_env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->swifter) (1.16.0)

In [152]:
import bcrypt
import swifter 

# Ensure passwords are strings and stripped
R1['password'] = R1['password'].astype(str).str.strip()

# Define hashing function
def hash_password(pw: str) -> str:
    pw_bytes = pw[:72].encode('utf-8')  # truncate to 72 bytes
    hashed_bytes = bcrypt.hashpw(pw_bytes, bcrypt.gensalt(rounds=8))  # lower rounds for speed
    return hashed_bytes.decode('utf-8')

# Hash all passwords in parallel
R1['password'] = R1['password'].swifter.apply(hash_password)

# Check

print(R1.head())

Pandas Apply:   0%|          | 0/7089 [00:00<?, ?it/s]

   userId firstName   lastName      username  \
1  1136.0    George    Roberts   traceybaker
2  1350.0     Mario     Hardin  wrightashley
3  2276.0   Michael  Maldonado    johncurtis
4  2552.0     Corey    Johnson       ymiller
5  2996.0    Samuel     Dalton   smithrobert

                                            password
1  $2b$08$Te1b649H2x1Iv8Lvkr.bHuq5OhKKcopJ5d.Q7aN...
2  $2b$08$8aOqR9QCfSNSUWaGykHxgemqWeHWW8BFOLJC2yl...
3  $2b$08$Lcz5dRiMkwCL09ic8WYQ2.RL5zgM3LSEBUT73ND...
4  $2b$08$wxVZwjto8TK1WFrbgK4/5OoM8bWEwyCjPrzhAck...
5  $2b$08$t2Vn4iN.KO0.Mm6sm4zm2elVR5xx9MHJ.tOBdIW...

In [153]:
import bcrypt

pw = "mypassword123"
hashed = bcrypt.hashpw(pw.encode('utf-8'), bcrypt.gensalt(rounds=10))
print(hashed.decode('utf-8'))

$2b$10$ePoPwn6cem/k60dKN9FzoOzMOS8llDU07MA7L4jHOeDf3Zu.LvWlG

In [154]:
# saving the csvs

# Users Table
R1.to_csv("final_project_database/datasource_csvs/users.csv", index = False)

# Books Table
R3.to_csv("final_project_database/datasource_csvs/books.csv", index = False)

# Ratings Table 
R4.to_csv("final_project_database/datasource_csvs/ratings.csv", index = False)

In [155]:
# Books Table
R3.to_csv("final_project_database/datasource_csvs/books.csv", index = False)

In [156]:
# only keep the entries from to_read table that have valid userId and bookId in the users and books tables

to_read = pd.read_csv("final_project_database/datasource_csvs/to_read.csv")
to_read = to_read.merge(R1[["userId"]], on="userId", how="inner")
to_read = to_read.merge(R3[["bookId"]], on="bookId", how="inner")
to_read.shape

(735, 2)

In [157]:
to_read.to_csv("final_project_database/datasource_csvs/to_read.csv", index = False)