Decomposing wide table into BCNF.

In [2]:
import pandas as pd
import os
os.getcwd()

'/'

In [3]:

from pathlib import Path
import os
import subprocess

# Set any folder you know is in the repo
start = Path("/Users/ellawileman/Documents/fall2025/db_management/final_project_database/final_project_database")

# Walk upward until .git is found
current = start
while True:
    if ".git" in os.listdir(current):
        repo_root = current
        break
    parent = current.parent
    if parent == current:
        raise RuntimeError("Not inside a Git repo")
    current = parent

os.chdir(repo_root)
print("Repo root:", repo_root)

subprocess.run(["git", "status"])

Repo root: /Users/ellawileman/Documents/fall2025/db_management/final_project_database
On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	final_project_database/.DS_Store
	final_project_database/p2_starter_code/.DS_Store
	final_project_database/p2_starter_code/src/.DS_Store
	final_project_database/p2_starter_code/src/main/.DS_Store
	final_project_database/p2_starter_code/src/main/resources/.DS_Store

nothing added to commit but untracked files present (use "git add" to track)

CompletedProcess(args=['git', 'status'], returncode=0)

In [4]:

import subprocess

# Status
subprocess.run(["git", "status"])

# Example: list branches
subprocess.run(["git", "branch"])

# Pull latest changes
subprocess.run(["git", "pull"])

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.DS_Store
	final_project_database/.DS_Store
	final_project_database/p2_starter_code/.DS_Store
	final_project_database/p2_starter_code/src/.DS_Store
	final_project_database/p2_starter_code/src/main/.DS_Store
	final_project_database/p2_starter_code/src/main/resources/.DS_Store

nothing added to commit but untracked files present (use "git add" to track)
* main
Already up to date.

CompletedProcess(args=['git', 'pull'], returncode=0)

In [5]:
"""
import os

# List all files/folders in current directory
print(os.listdir())

# Or list them nicely, one per line
for f in os.listdir():
    print(f)
    

# Path to a file inside the repo
file_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")

"""

'\nimport os\n\n# List all files/folders in current directory\nprint(os.listdir())\n\n# Or list them nicely, one per line\nfor f in os.listdir():\n    print(f)\n    \n\n# Path to a file inside the repo\nfile_path = os.path.join(os.getcwd(), "final_project_database", "wide_book_data.csv")\n\n'

In [6]:
wide_dat = pd.read_csv("final_project_database/datasource_csvs/wide_with_copies_formatted.csv")
wide_dat["isbn13"] = wide_dat["isbn13"].astype("int64")

In [7]:
wide_dat = wide_dat.drop(['_merge', 'on_user_list'], axis=1) 
wide_dat.head()

,isbn13,description,genres,book_id,title,authors,average_rating,original_publication_year,ratings_count,image_url,user_id,rating,FirstName,LastName,Username,total_copies
0,9781416914280,When fifteen-year-old Clary Fray heads out to ...,"['Fantasy', 'Young Adult', 'Paranormal', 'Roma...",256683,"City of Bones (The Mortal Instruments, #1)",Cassandra Clare,4.12,2007,1154031,https://images.gr-assets.com/books/1432730315m...,NaN,NaN,NaN,NaN,NaN,3
1,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1136.0,4.0,George,Roberts,traceybaker,4
2,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,1350.0,4.0,Mario,Hardin,wrightashley,4
3,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2276.0,4.0,Michael,Maldonado,johncurtis,4
4,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,2552.0,4.0,Corey,Johnson,ymiller,4

R(isbn13, description, genres, book_id, title, authors, average_rating, original_publication_year, ratings_count, image_url, user_id, rating, FirstName, LastName, username, total_copies)

In [8]:
R = wide_dat

Minimal superkey (candidate key) = (book_id, user_id)

Decompose on FD #1: user_id -> FirstName, LastName, Username

In [9]:
R1 = R[["user_id", "FirstName", "LastName", "Username"]].drop_duplicates().reset_index(drop=True)
R1 = R1.dropna(subset=['user_id'])

In [10]:
R1.head()

   user_id FirstName   LastName      Username
1   1136.0    George    Roberts   traceybaker
2   1350.0     Mario     Hardin  wrightashley
3   2276.0   Michael  Maldonado    johncurtis
4   2552.0     Corey    Johnson       ymiller
5   2996.0    Samuel     Dalton   smithrobert

In [11]:
R2 = R[["user_id", "isbn13", "description", "genres", "book_id", "title", "authors", "average_rating", "original_publication_year", "ratings_count", "image_url", "rating", "total_copies"]].drop_duplicates().reset_index(drop=True)
R2 = R2.dropna(subset=['user_id'])
R2 = R2.dropna(subset=["book_id"])

In [12]:
R2.head()

,user_id,isbn13,description,genres,book_id,title,authors,average_rating,original_publication_year,ratings_count,image_url,rating,total_copies
1,1136.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
2,1350.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
3,2276.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
4,2552.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,4.0,4
5,2996.0,9780142000670,The compelling story of two outsiders striving...,"['Classics', 'Fiction', 'School', 'Historical ...",890,Of Mice and Men,John Steinbeck,3.84,1937,1467496,https://images.gr-assets.com/books/1437235233m...,3.0,4

In [ ]:
# Need to do the decomposition of R2